@use "../../../themes/variables.additional" as *;

:host {
  width: 100%;
}

#navigation-header {
  background-color: $base-accent;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

  ::ng-deep .menu-button .dx-icon {
    color: $base-text-color;
  }

  :host-context(.screen-x-small) & {
    padding-left: 20px;
  }

  :host-context(.dx-theme-generic) & {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
